<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class="container">
        <form action="/sign-Up" id="form" method="POST">
            <div class="title">SignUp</div>
            <div class="input-box">
                <input type="text" placeholder="Enter Your Email" name="email" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Enter Your Password" name="password" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm Your Password" name="confirmPassword" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <div class="g-recaptcha" data-sitekey="6LfW3o4dAAAAAIoVO7auZuiuH7AfAOc4z7xtc7xV"></div>
            </div>
            <div class="input-box button">
                <input type="submit" name="" value="Continue">
            </div>
        </form>
    </div>
</body>
<script>
    if ("<%=locals.flash.success%>" && "<%=locals.flash.success.length%>" > 0) {
            console.log('ok check');
            new Noty({
                theme: 'relax',
                text: '<%=locals.flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500,
            }).show();
        }
        if ("<%=locals.flash.error%>" && "<%=locals.flash.error.length%>" > 0) {
            console.log('ok check');
            new Noty({
                theme: 'relax',
                text: '<%=locals.flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 1500,
            }).show();
        }
</script>

</html>